ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="04fe", ATTRS{idProduct}=="0020", ATTRS{manufacturer}=="PFU Limited", ATTRS{product}=="HHKB-Classic", ENV{DISPLAY}=":0", ENV{XAUTHORITY}="/home/qlem/.Xauthority", RUN+="/home/qlem/bin/hhkb.sh"
